.ViewShelfItem-image {
    object-fit: contain;
    width: 250px;
}

.ViewShelfItem-card {
    width: 300px;
    border: 2px black solid;
    margin: 15px;
    padding: 0px;
    text-align: center;
    display: inline-block;
}

.ViewShelfItem-button {
    margin: 5px;
}
